@import "../../node_modules/bootstrap/scss/bootstrap";
$hover-color: #ffffffca;

a {
  color: #fff !important;
  text-decoration: none !important;

  &:hover {
    color: $hover-color !important;
  }
}

.form-text {
  a {
    color: $gray-900 !important;
    &:hover {
      color: $gray-600 !important;
    }
  }
}